/* Header styling */
#top-bar {
  height: 125px;
  background: #2050a4;
  background: -moz-linear-gradient(left, #2050a4 0%, #5142cb 50%, #211b75 100%);
  background: -webkit-linear-gradient(
    left,
    #2050a4 0%,
    #5142cb 50%,
    #211b75 100%
  );
  background: linear-gradient(to right, #2050a4 0%, #5142cb 50%, #211b75 100%);
}

/* Search for custimization */
.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin: 20px; 
}

.form-and-recent-cities {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10%;
}
/* Adjusted the width of the search button */
button, .search-city {
  width: 355px;
}

hr {
  width: 100%;
}

#citysearchhr{
  width: 130%;
}
#quicksearch{
  margin-left:28%
}
.recent-city-button {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  width: 350px;
}
/* Position & styling for current city block */
.current-city-block {
  margin-left: 40%;
  margin-top: 2%;
  width: 50%
}
.search-section {
  min-width: 00px;
}
#current-city {
  font-size: 25px;
}

.current-conditions{
  font-size: larger;
}

/* Table styling */
table{
  margin-left: 40%;
  margin-top: 2%;
  width: 50%;
}

.weather-icon,
.weather-desc {
  display: inline-block;
}

.weather-icon img {
  vertical-align: middle;
}

/* Table styling */
table.fivedaytable {
  width: 100px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
}

td{
  color: white;
  font-size: large;
  text-align: center;
}

th{
  color: #fcfcfc;
  text-align: center;
}

tr{
  width:100%
}


table.fivedaytable, td, table.fivedaytable th {
  border-width: 2px;
  border-color: #5142cb;
  border-style: solid;
  padding: 3px;
}

table.fivedaytable, thead {
  background: #2050a4;
  background: -moz-linear-gradient(left, #2050a4 0%, #5142cb 50%, #211b75 100%);
  background: -webkit-linear-gradient(
    left,
    #2050a4 0%,
    #5142cb 50%,
    #211b75 100%
  );
  background: linear-gradient(to right, #2050a4 0%, #5142cb 50%, #211b75 100%);
}