/* Header styling */
#top-bar {
  height: 125px;
  background: #2050a4;
  background: -moz-linear-gradient(left, #2050a4 0%, #5142cb 50%, #211b75 100%);
  background: -webkit-linear-gradient(
    left,
    #2050a4 0%,
    #5142cb 50%,
    #211b75 100%
  );
  background: linear-gradient(to right, #2050a4 0%, #5142cb 50%, #211b75 100%);
}

/* Search for custimization */
.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin: 20px; 
}

/* Adjusted the width of the search button */
button, .search-city {
  width: 150px;
}

/* Position & styling for current city block */
.current-city-block {
  margin-left: 40%;
  margin-top: 2%;
  width: 50%
}

#current-city {
  font-weight: bold;
  font-size: 25px;
}

.current-conditions{
  font-size: larger;
}

/* Table styling */
table{
  margin-left: 40%;
  margin-top: 2%;
  width: 50%;
}

table.fivedaytable {
  width: 100px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
}

td{
  color: black;
  font-size: large;
  text-align: center;
}

th{
  color: #fcfcfc;
  text-align: center;
}

tr{
  width:100%
}

/* .trth {
  display: none;
}  */

#seperate {
  background-color: white;
  color: black;
  font-size: 2rem;
  text-align: left;
  border-bottom: 1px solid black;
}

table.fivedaytable, td, table.fivedaytable th {
  border-width: 2px;
  border-color: #5142cb;
  border-style: solid;
  padding: 3px;
}

table.fivedaytable, thead {
  background: #2050a4;
  background: -moz-linear-gradient(left, #2050a4 0%, #5142cb 50%, #211b75 100%);
  background: -webkit-linear-gradient(
    left,
    #2050a4 0%,
    #5142cb 50%,
    #211b75 100%
  );
  background: linear-gradient(to right, #2050a4 0%, #5142cb 50%, #211b75 100%);
}
